body{
    margin:0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
}
.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.photo img{
width: 450px;
}
.text{
    font-size: x-large;
}
.details-btn{
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(145deg,green,red,green);
}
.details-btn:hover{
    background-color:blue ;
    color: white;
    cursor: pointer;
}
.second-section{
    text-align: center;
    margin-top: 30px;
}
.dhaka{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
}
.div-img img{
    width: 100%;
}
.all-division{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.bottom-section{
    padding: 15px;
}
.details{
    background-image: linear-gradient(145deg,green,red,green);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: .8s;
    font-size: medium;
}
.details:hover{
    color: white;
}
footer p{
    text-align: center;
}